html{
    background: black;
}

*{
    margin-top: 0;
}
body{
    width: 1400px;
    height: auto;
    background: white;
    margin: auto;
}



.container1{
    height: 550px;
    position: relative;
    
}
.img1{
    position: relative;
    top: 60px;
    
    margin-left: 400px;   
    
    height: 400px;
    width: 600px;
    
    border-radius: 70%;   
}

.container2{
    
    padding-top: 60px;
    background: rgb(0, 128, 255);
    text-align: center;
    height: 400px;
}

h1{
    margin-top: 150px;
    font-size: 45px;
    font-family: cursive;
    padding: 10px;
    text-align: center;
}
h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    text-align: center;
}
#about{
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}
.p1{
    
    color: white;
    font-size: 25px;
    text-align: center;
}

.container3{
    
    padding-top: 60px;
    
    text-align: center;
    height: 990px;
}

.art1{
   margin-top: 5px;
   height: 360px;
   padding: 15px;
}
.container4{
    position: absolute;

    border-radius: 5px;
    margin-left: 100px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}
.container5{
    position: absolute;

    border-radius: 5px;
    margin-left: 530px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}
.container6{
    position: absolute;

    border-radius: 5px;
    margin-left: 960px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}

.art2{
    margin-top: 5px;
    height: 360px;
    padding: 15px;
}

.container7{
    position: absolute;

    border-radius: 5px;
    margin-left: 100px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}
.container8{
    position: absolute;
    
    border-radius: 5px;
    margin-left: 530px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}
.container9{
    position: absolute;

    border-radius: 5px;
    margin-left: 960px;
    height: 330px;
    width: 300px;
    border: 1px solid gray;
}

h4{
    
    height: 150px;
    width: 260px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(196, 196, 196);
}
.p2{
    background: rgb(196, 196, 196); 
    height: 20px;
    width: 220px;
    margin: auto;
   
    margin-top: 40px;
    border-radius: 20px;
}
.p3{
    background: rgb(196, 196, 196); 
    height: 20px;
    width: 140px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}
.p4{
    background: rgb(196, 196, 196); 
    height: 20px;
    width: 140px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
}

